<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.mapper.BoardFindMapper">
    <!-- 게시글 작성 -->
    <insert id="BoardFindInsert" parameterType="com.smhrd.domain.BoardFind">
        insert into TBL_FINDING(user_id, find_name, find_gender,
        find_handicaped, missing_region, find_feature, find_look, find_desc)
        values(#{user_id},#{find_name},#{find_gender},#{find_handicaped}
        ,#{missing_region},#{find_feature},#{find_look},#{find_desc})
    </insert>
    
    
<!--     <insert id="boardFindInsert2" parameterType="com.smhrd.domain.BoardFind">
        insert into TBL_FACE(USER_ID, REAL_FACE)
        values(#{USER_ID}, #{REAL_FACE})
    </insert> -->
    
    
    <!-- 민지 리스트 -->
<!--     <select id="boardFindList" resultType="com.smhrd.domain.BoardFind">
        SELECT f.find_name, f.missing_date, f.find_seq, f.missing_region, r.real_face, d.deep_result
        FROM TBL_FINDING f, TBL_FACE r, TBL_DEEP d
        WHERE f.user_id = r.user_id
        AND f.find_seq = d.find_seq
    </select> -->
    
    
    
    <!-- 민지 뷰 -->
    <select id="boardFindView" resultType="com.smhrd.domain.BoardFind">
        SELECT * FROM TBL_FINDING WHERE find_seq = #{find_seq}
    </select>
    
    
    
    <!--검색 -->
    <select id="boardFindSearch" parameterType="com.smhrd.domain.BoardFind" 
        resultType="com.smhrd.domain.BoardFind">
        SELECT * 
        FROM TBL_FINDING f, TBL_FACE r, TBL_DEEP d
        WHERE (f.user_id = r.user_id
        AND f.find_seq = d.find_seq)
    <trim >
		<!--이름 -->
		<if test="find_name != null">
			AND f.find_name LIKE CONCAT('%',#{find_name},'%')</if>
		<!--성별-->
		<if test="find_gender != null">
			AND f.find_gender = #{find_gender}</if>
		<!--장애여부-->
		<if test="find_handicaped != null">
			AND f.find_handicaped = #{find_handicaped}</if>
		<!--실종지역 -->
		<if test="missing_region != 'all'">
			AND f.missing_region = #{missing_region}</if>
		<!--착의사항 -->
		<if test="find_look != null">
			AND f.find_look LIKE CONCAT('%',#{find_look},'%')</if>
		<!--특징 -->
		<if test="find_feature != null">
			AND f.find_feature LIKE CONCAT('%',#{find_feature},'%')</if>
		<!--설명 -->
		<if test="find_desc != null">
			AND f.find_desc LIKE CONCAT('%',#{find_desc},'%')</if>
	</trim>
	
    </select>
    
    
    
    <!--  민지테스트(목록 조회) -->
	<select id="boardFindList" parameterType="com.smhrd.domain.Pagination" resultType="com.smhrd.domain.BoardFind">
	    SELECT *
	    FROM TBL_FINDING f, TBL_FACE r, TBL_DEEP d
	    WHERE f.user_id = r.user_id
        AND f.find_seq = d.find_seq
	    LIMIT #{startList}, #{listSize}
	</select>
	
	<!--  민지테스트(전체글 개수 조회) -->
	<select id="boardFindCnt" resultType="int"> 
	    SELECT count(*) as listCnt 
	    FROM TBL_FINDING	
	</select>
	
	<!-- 당시 사진 출력 -->
	<select id="boardFindFace" parameterType="com.smhrd.domain.BoardFind" resultType="String">
	    SELECT real_face FROM TBL_FACE WHERE find_seq = #{find_seq}
	</select>
	
	<!-- 딥러닝 사진 출력 -->
	<select id="boardFindDeep" parameterType="com.smhrd.domain.BoardFind" resultType="String">
	    SELECT deep_result FROM TBL_DEEP WHERE find_seq = #{find_seq}
	</select>
</mapper>
