@charset "UTF-8";

@font-face {
  font-family: 'LeferiBaseType-BoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-BoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'LeferiBaseType-RegularA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-RegularA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* 제보 리스트 시작 */

.container {
	
  padding: 2em;
}


#searchForm > table > thead > tr > td > div:nth-child(2) > label {
	font-weight: normal ;
}


#searchForm > table > thead > tr > td > div:nth-child(1) > label{
	font-weight: normal ;
}



#report_s_r , #searchForm > table > tbody > tr:nth-child(1) > td > select{
	
	font-size : 20px;
	
    width: 100%;
    height: 42px;
    padding: 8px 11px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
	
}



#imgsize > div > div:nth-child(1) > div > div > div.col-md-4 > a > img{
	max-width: 100%;
    height: 190px;
}


#imgsize > div > div:nth-child(2) > div > div > div.col-md-4 > a > img{
	
	max-width: 100%;
    height: 190px;
}



/* 제보 리스트 끗 */




/* GENERAL BUTTON STYLING */
button,
button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

button {
  background: none;
  border: 3px solid #777;
  border-radius: 5px;
  color: #777;
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin: 1em auto;
  padding: 0.5em 2em;
  position: relative;
  text-transform: uppercase;
}

button::before,
button::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover {
  color: #fff;
}


/* BUTTON 2 */
.btn-2::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
}

.btn-2:hover:after {
  width: 100%;
}


.bb{
  display: block;
  position: relative;
  left: 10px;
  top: 200px
  

}

.bu{
  
  position: relative;
  
  top: 200px;
  left: 100ox; 
  

}

.pb{
  display: block;
  align-content: center;
}







/* 페이징 */

.paging {
	display : block;
	position : relative;
  bottom: 200px;
  right : 40px;
  text-align: center;
  font-size: 0;
}


.paging a {
  display: inline-block;
  margin-left: 10px;
  padding: 5px 10px; 
  font-size: 15px;
  text-decoration:none ;
  font-family: 'LeferiBaseType-BoldA';
}

 .paging a.bt {

  margin : 3px; 
  font-family: 'LeferiBaseType-BoldA';
	
}

.paging a.num {
  
  font-weight: 600;
  color: rgb(141, 157, 167);
  text-align : center;
}

.paging a.num.on {
  
  color: #3494e6;
}



.table_text{
  display: contents;
  position: relative;
  left: 200px;
}

.mlb{
  display: block;
  position: relative;
  top:40px;
}


.gu{
  /* background-color: #777; */
  border: 1px solid #777;
  width:auto;
  height: 150px;
}





/* 검색결과가 없을때 css */


p1  {
	  text-align: center;
	  display: block;
	  position : relative;

	
}


#noneimg {
	width : 200px;
	height : 200px;
	margin-bottom : 40px;
	margin-left : 35%;
	margin-top :0px;
	padding : 10px;
}

 #p1 {
 margin-right : 80px;
	font-size :20px;
	text-align : center;
}


#p2 {
	margin-right : 80px;
	
	text-align : center;
}

 /* 끝 */

h4 a#reportB{
	 text-decoration:none ;
	 color: #777;
	 font-size: 20px;    
	 font-family: 'LeferiBaseType-BoldA';
	
} 
 
 
 
 /* 제보 상세 페이지 */
 
#fh5co-wrapper > div.container > div.row.info > div.col-md-4.reportPhoto{
	
}
 
 
 
 #fh5co-wrapper > div.container > div.row.info > div.col-md-7.table_text {
 
 
 border-color: #777;
 }

 
 
 #noneimg
 
 
 
 
 
 
 
 
 
 
 