@charset "UTF-8";



.container {
  padding: 2em;
}

/* GENERAL BUTTON STYLING */
button,
button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

button {
  background: none;
  border: 3px solid #777;
  border-radius: 5px;
  color: #777;
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin: 1em auto;
  padding: 0.5em 2em;
  position: relative;
  text-transform: uppercase;
}

button::before,
button::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover {
  color: #fff;
}


/* BUTTON 2 */
.btn-2::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
}

.btn-2:hover:after {
  width: 100%;
}


.bb{
  display: block;
  position: relative;
  left: 10px;
  top: 200px
  

}

.bu{
  
  position: relative;
  
  top: 200px;
  left: 100ox; 
  

}

.pb{
  display: block;
  align-content: center;
}



/* 페이징 */


/* 페이징 */

.paging {
  margin-top: 50px;
  text-align: center;
  font-size: 0;
   
}


.paging {
  margin-top: 10px;
  text-align: center;
  font-size: 0;
     display: block;
    position: relative;
    right: 27px;
    margin-bottom: 44px;
}
.paging a {
  display: inline-block;
  margin-left: 10px;
  padding: 5px 10px; 
  font-size: 15px;
  text-decoration:none ;
  font-family: 'LeferiBaseType-BoldA';
}

 .paging a.bt {

  margin : 3px; 
  font-family: 'LeferiBaseType-BoldA';
	
}

.paging a.num {
  
  font-weight: 600;
  color: rgb(141, 157, 167);
  text-align : center;
}

.paging a.num.on {
  
  color: #3494e6;
}






#child_list > a > img {
	
	height :100px;
}


#find_table > thead > tr > td:nth-child(2) > div:nth-child(1) > label{
	
	
	font-weight: normal;
	
}



#find_table > thead > tr > td:nth-child(2) > div:nth-child(2) > label{
	
	
	font-weight: normal;
	
}



// 스크롤바 없애기

#ssxx{
	
	overflow:hidden
}



#find_table > thead > tr > td:nth-child(3) > div:nth-child(1) > label{
	
	font-weight: normal;
	
}


#find_table > thead > tr > td:nth-child(3) > div:nth-child(2) > label ,
#fh5co-wrapper > div:nth-child(2) > form > table > thead > tr > td:nth-child(3) > div:nth-child(2) > label,
#fh5co-wrapper > div:nth-child(2) > form > table > thead > tr > td:nth-child(3) > div:nth-child(1) > label,
#fh5co-wrapper > div:nth-child(2) > form > table > thead > tr > td:nth-child(2) > div:nth-child(2) > label,
#fh5co-wrapper > div:nth-child(2) > form > table > thead > tr > td:nth-child(2) > div:nth-child(1) > label{
	font-weight: normal;
	
}


#find_table > tbody > tr:nth-child(2) > td > label ,
#fh5co-wrapper > div:nth-child(2) > form > table > tbody > tr:nth-child(2) > td:nth-child(1) > label{
	font-weight: normal;
	    color: #555;
    margin-top: 2px;
}


#find_table > tbody > tr:nth-child(2) > td > input[type=date] ,
#fh5co-wrapper > div:nth-child(2) > form > table > tbody > tr:nth-child(2) > td:nth-child(2) > input[type=date]{
	display: block;
    width: 100%;
    height: 45px;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
        border-radius: 0.25rem;
    margin-right : 300px;
	
}


#find_table > tbody > tr:nth-child(1) > td > select ,
#fh5co-wrapper > div:nth-child(2) > form > table > tbody > tr:nth-child(1) > td > select{
	
	display: block;
    width: 100%;
    height : 20px;
    
    padding: 3px;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 14px;
    height: 41px;
    font-weight: 400;
    line-height: 1.5;
    color: #777;

}


#f5 {
	font-size : 25px;
	
}

#f6 { 
	
	
	font-size: 18px;
    margin-top: 16px;
    text-align : left;
    margin-left : 15px;
}


#p1 {
    margin-right: 80px;
    font-size: 20px;
    text-align: center;
	
}

#p2{
	margin-right: 80px;
    text-align: center;
    margin-bottom : 30px;

	
}

#noneimg {
	
	
width: 200px;
    height: 200px;
    margin-bottom: 40px;
    margin-left: 37%;
    margin-top: 0px;
    padding: 10px;
	
	
}



/* 실종아동 찾기 상세 페이지 */

#findIDDATE > div.col-sm-2{
	display : block;
	position : relative;
	left : 73%;
}

#findIDDATE > div.col-sm-1 {
	
	display : block;
	position : relative;
	left : 75%;
	width: 150px;
	
}

#findInfo {
	    margin-left: 40%;
	margin-top : 50px;
}







#findInfo > div > form > div > div:nth-child(1),
#findInfo > div > form > div > div:nth-child(3),
#findInfo > div > form > div > div:nth-child(5),
#findInfo > div > form > div > div:nth-child(7),
#findInfo > div > form > div > div:nth-child(9),
#findInfo > div > form > div > div:nth-child(11){	
	position : relative ;
	display : block;
	right : 100px;
}



#warning {
 text-align : center;	
 border : 1px solid #777;
 height: 142px;
    padding: 14px;
	
}


/*
#fh5co-wrapper > div.container > div:nth-child(6) > div {
	
	
    border: 1px solid #CCC;
    height: 300px;
    color: #777;
}
*/

#findmsList {
	display : block;
	position : relative;
	left :36%;
	margin-top : 80px;
}


#offcanvasExample{
	width : 750px;
	padding : 24px;
		
	
}


#look{
	margin-bottom : 5px;
}


#toastStart {
	width : 150px;
	height : 40px;
	margin-top : 15px;
	margin-bottom : 15px;
	font-size : 16px;
	    font-family: 'GmarketSansMedium';
	
}


#msgLL > thead > tr > th {
	text-align : center;
	font-family: 'GmarketSansMedium';
}


#offcanvasExample > div.offcanvas-body > div.container > div {
	
	display: block;
    position: relative;
    right: 205px;
}


#fh5co-wrapper > div.container > h3 {
    display: block;
    position: relative;
    top: 63px;
    font-size: 30px;
}
	
}


#fh5co-wrapper > div.container > div:nth-child(6) > div:nth-child(3) > div > div > p {
	
	font-weight : bold;
}

