@charset "UTF-8";

#css_tabs {
    font-family:'nanumgothic', '나눔고딕', 'malgun gothic', '맑은 고딕', 'dotum', '돋움', sans-serif;
    margin-left : 350px;
    margin-top : 20px;
}
/* 탭 선택 시 표시할 요소(div) 정의(1번 탭 선택 시 첫 번째 div 요소 표시) */
#css_tabs input:nth-of-type(1), #css_tabs input:nth-of-type(1) ~ div:nth-of-type(1), #css_tabs input:nth-of-type(2), #css_tabs input:nth-of-type(2) ~ div:nth-of-type(2), #css_tabs input:nth-of-type(3), #css_tabs input:nth-of-type(3) ~ div:nth-of-type(3) {
    display:none
}
#css_tabs input:nth-of-type(1):checked ~ div:nth-of-type(1), #css_tabs input:nth-of-type(2):checked ~ div:nth-of-type(2), #css_tabs input:nth-of-type(3):checked ~ div:nth-of-type(3) {
    display:block
}
/* 라벨 기본 스타일 지정 */
#css_tabs > label {

    display:inline-block;
    font-variant:small-caps;
    font-size:.9em;
    padding:5px;
    text-align:center;
    width:20%;
    line-height:1.8em;
    font-weight:700;
    border-radius:3px 3px 0 0;
    background:#eee;
    color:#777;
    border:1px solid #ccc;
    border-width:1px 1px 0
}
#css_tabs > label:hover {
    cursor:pointer
}
#css_tabs label[for=tab1] {
    margin-left:1.5em
}
/* 선택된 라벨, 커서를 올린 라벨 스타일 지정 */
#css_tabs input:nth-of-type(1):checked ~ label:nth-of-type(1), #css_tabs > label[for=tab1]:hover {
    background:#2593f4

    ;
    color:#fff
}
#css_tabs input:nth-of-type(2):checked ~ label:nth-of-type(2), #css_tabs > label[for=tab2]:hover {
    background:#2593f4;
    color:#fff
}
#css_tabs input:nth-of-type(3):checked ~ label:nth-of-type(3), #css_tabs > label[for=tab3]:hover {
    background:#2593f4;
    color:#fff
}
/* 실제 내용이 담긴 div 요소 스타일 지정 */
/* #css_tabs .tab1_content, #css_tabs .tab2_content, #css_tabs .tab3_content {
    padding:2em;
    border:1px solid #ddd;
    width:70%;
    height:100%
} */



/* 물망초 대책법 */

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
    font-family: 'Noto Sans KR', sans-serif;
}



#DE{
       font-family: 'GmarketSansMedium';
    margin-top: 64px;
    margin-left: 60px;
    font-size: 35px;
}

/* 모두부분의 css */

.M {
    margin-top: 10px;
    margin-right : 100px;
    padding:2em;
    border:1px solid #ddd;
    width:90%;
    height:100%;
    text-align :center;

    display: block;
    position: relative;
    right: 104px;
    font-family: 'Noto Sans KR', sans-serif;
}

img {
    width: 164px;
    height: 130px;
    /* padding-right: 27px; */
    display: block;
    position: relative;
    right: 10px;
}


h4 {
    font-family: 'GmarketSansMedium';
}

span {

    font-family: 'GmarketSansLight';
    font-weight: bold;

}
.row{
    margin-top: 80px;

}


.rp {
	
   font-family: 'GmarketSansMedium';
	font-size : 30px;
	font-weight : bold;
	
}

.rpp {
	font-family: 'GmarketSansMedium';
	font-size : 30px;
	font-weight : bold;

	
}

#css_tabs > > p {
	
	   font-family: 'GmarketSansLight';
	font-size : 18px;
	font-weight : bold;
	
	
}


#ca {
	display: block;
    position: relative;
    bottom: 40px;
	
}


h3{
	font-family: 'GmarketSansMedium';
}
    










