@charset "utf-8";
@font-face {
    font-family: 'Happiness-Sans-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Happiness-Sans-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
  
  *{
    font-family: 'Happiness-Sans-Regular';
  }
  
  h2, h4{
    font-family: 'Happiness-Sans-Title';
  
  }

  .print1 {
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 30px;
  }